DB_URI = mongodb+srv://phgvitbau5102004:phuong123@cluster0.nfb4e.mongodb.net/

AUTH_TOKEN = "8641e6bc8612e63e53026e20810c8f83"
ACCOUNT_SID = "AC98ec8af4b7e7d930f3e387ba12b885a2"

ACCESS_TOKEN_SECRET = 'ACCESS_TOKEN_SECRET'
RESET_PASSWORD_KEY = 'RESET_PASSWORD_KEY'

EMAIL_NAME = "tvi83447@gmail.com"
EMAIL_APP_PASSWORD = "tihr wqwo knua zfgn"

CLOUDINARY_NAME=dldx8tssp
CLOUDINARY_KEY=854696992441996
CLOUDINARY_SECRET=PVjgbt__MzUQKcwelKbcUt7QW-Q